:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  // display: flex;
  // flex-direction: column;
  // flex: 2;
}
header {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: solid 1px black;
  .left {
    font-size: 20px;
  }
  ul {
    list-style: none;
  }
}

footer {
  text-align: center;
  border-top: solid 1px black;

  height: 3rem;
  width: 100%;
}
.title {
  text-align: center;
}
.stuff {
  display: flex;
  justify-content: center;
}

.add {
  margin-bottom: 1rem;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  button {
    margin-left: 10px;
  }
}

.basic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
.facts {
  list-style: none;
}
h3 {
  text-align: center;
}
.recommended {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  ul {
    justify-content: center;
  }
}
