:root {
  font: 16px / 1 sans-serif;
  background-color: #9cd7da;
  color: #185691;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  padding-bottom: 3rem;
  display: flex;
  // align-self: stretch;
  // align-content: stretch;
  // flex-direction: column;
  // flex: 2;
}

a:link {
  color: rgb(27, 3, 143);
}

a:visited {
  color: rgba(202, 117, 5, 0.838);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Kalam', cursive;

  border-bottom: solid 1px black;
  background-color: #23b0b8;
  color: #0a3f70;
  .left {
    font-size: 26px;
  }
  ul {
    list-style: none;
  }

  a:visited,
  a:link {
    color: #0a3f70;
    text-decoration: none;
  }
  .middle {
    font-weight: 700;
    font-size: 18px;
  }
  .right {
    font-size: 18px;
  }

  .signup {
    padding-top: 3px;
    margin-top: 3px;
    border-top: rgba(250, 75, 14, 0.838) solid 2px;
  }
}

footer {
  text-align: center;
  border-top: solid 1px black;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  //this will change
  // background-color: white;
  background-color: #23b0b8;
  color: #0a3f70;
  font-family: 'Kalam', cursive;
  font-size: 16px;
}

button {
  background-color: #43a4b9;
  color: #3a1605;
  font-size: 16px;
  font-weight: 500;
  padding: 3px;
  border-radius: 8px;
  a:visited,
  a:link {
    text-decoration: none;
    color: #3a1605;
  }
}
.all {
  display: flex;
  width: 100vw;
  min-height: 100%;
  justify-content: space-between;
  align-items: stretch;
}

.title {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 30px;
  padding-top: 0.5rem;
  font-family: fantasy;
  font-weight: 1000;
}

.stuff {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: none;
}

.searchBox {
  height: 18px;
}

.add {
  margin-bottom: 1rem;
}

.create {
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  button {
    margin-left: 10px;
  }
}

.basic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
.facts {
  list-style: none;
}

h3 {
  text-align: center;
}

.bio {
  padding-left: 2rem;
  padding-right: 2rem;
}

.media {
  padding-right: 5%;
  padding-left: 5%;
}
.recommended {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  ul {
    justify-content: center;
  }
}

.biography {
  //make box bigger
  display: flex;
  align-items: flex-start;
  label {
    padding-right: 3px;
  }
  textarea {
    width: 80%;
    height: 5rem;
  }
}

.deletion {
  font-size: 10px;
  margin-left: 5px;
  height: 18px;
  text-align: center;
  color: rgba(255, 0, 0, 0.884);
}

.add {
  margin-top: 2px;
  width: 50%;
}

.home {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.end {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.file-drop-zone {
  border: solid black 1px;
  padding: 2rem;
  margin: 1rem;
  background-color: rgb(60, 85, 88);
  color: powderblue;
}

.submit-person {
  text-align: center;
  input {
    font-size: 24px;
  }
}
.make {
  text-align: center;
}

main {
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 100%;
    }
  }
}

@media all and (max-width: 549px) {
}
@media all and (min-width: 550px) {
  main {
    // padding-left: 1rem;
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
      }
    }
  }
  .roy {
    display: flex;
    justify-content: initial;
    .stripe {
      width: 30px;
    }
    .red {
      background-color: red;
    }
    .orange {
      background-color: orange;
    }
    .yellow {
      background-color: yellow;
    }
  }
  .gbp {
    display: flex;
    justify-content: right;
    // height: 100%;
    align-self: stretch;

    .green {
      background-color: green;
      width: 30px;
    }
    .blue {
      background-color: blue;
      width: 30px;
    }
    .purple {
      background-color: purple;
      width: 30px;
    }
  }
}

@media all and (min-width: 800px) {
  main ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 32%;
    }
  }
}
@media all and (min-width: 1250px) {
  main ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 25%;
    }
  }
}

.life {
  white-space: pre-wrap;
}
// .newcomment {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   .label {
//     padding-right: 1rem;
//   }
//   align-items: flex-start;
//   textarea {
//     width: 100%;
//     height: 5rem;
//   }
// }
